body {
    background-color: #FDF5FF;
    min-width: 600px;

    font-family: "HelveticaNeue", HelveticaNeue, Arial, sans-serif;
    color: black;

    text-align: center;
}

img {
    width: 100px;
    height: 100px;

    color: white;
    float: right;

    margin: 0px 50px 0px 50px;
}

h1 {
	font-size: 50px;
    font-family: "HelveticaNeue-Light", HelveticaNeue-Light, Arial, sans-serif;
    font-weight: 300;

    color: #D4BBFF;
    margin: 0px;
}

h3 {
	font-size: 25px;
    font-family: "HelveticaNeue-Ultralight", HelveticaNeue-Ultralight, Arial, sans-serif;
    font-variant: small-caps;
    letter-spacing: 3px;
    font-weight: 300;

    color: #D4BBFF;
    margin: 0px;
}

div {
    text-align: center;
}

.header {
    background-color: #343434;
    width: 100%;

    margin: -10px 0px 20px -10px;
    padding: 20px 20px 20px 0px; /* top right bottom left */
}

.footer {
    margin-bottom: 200px;
}

.signup {
    float: left;
    width: 50%;
}

.login {
    float: right;
    width: 50%;
}

a {
    text-decoration: none;
}

input, select {
    padding: 8px 10px;
    margin: 3px 0px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #6E89E0;
    color: white;

    padding: 10px 20px;
    margin: 8px 0;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    font-family: "HelveticaNeue", HelveticaNeue, Arial, sans-serif;;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #9DADE0;
}
