body {
    background-color: #FDF5FF;
    min-width: 600px;

    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue", HelveticaNeue, Arial, sans-serif;
    color: black;

    text-align: center;
}

::-moz-selection {
  color: white;
  background: #ff6fcf;;
}

::selection {
  /* color: white; */
  /* background: #ff6fcf; */
} 

img {
    width: 90px;
    height: 90px;

    color: white;
    float: left;

    margin: 0px 20px 0px 25px;
}

h1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", HelveticaNeue-Light, Arial, sans-serif;
    font-weight: 300;
    color: #2b2b2b;

    margin: 10px 0px 10px 25px;
}

h3 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Ultralight", HelveticaNeue-Ultralight, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    color: #2b2b2b;
    opacity: 0.9;

    margin: 3px 0px -20px 25px;
}

div {
    text-align: center;
}

a {
    color: #6E89E0 !important;
}

a:hover {
    opacity: 0.8;
}

.header {
    white-space: nowrap;

    background-color: #ffffff;
    text-align: left;

    border-color: #ffffff;
    border-bottom-style: outset;
    border-width: 1px;

    width: 100%;

    margin: -10px 0px 20px -10px;
    padding: 20px 20px 20px 0px; /* top right bottom left */
    opacity: 0.97;
    position: fixed;
    
    z-index: 4;
}

.username {
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue", HelveticaNeue, Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    text-align: right;
    margin: 0px;
}

.logout {
    float: right;
    display: inline-block;
    position: fixed;
    text-align: right;
    z-index: 5;
    
    top: 50px;
    right: 20px;
    
    left: 500px;
    height: 100px;
}

.footer {
    padding-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.signup {
    display: inline-block;
    padding-right: 25px;
}

.login {
    display: inline-block;
    padding-left: 25px;
}

a {
    text-decoration: none;
}

.footer input, select {
    padding: 8px 10px;
    margin: 3px 0px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer input[type=submit] {
    background-color: #6E89E0;
    color: white;

    padding: 10px 20px;
    margin: 8px 0;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue", HelveticaNeue, Arial, sans-serif;
    font-size: 16px;
}

.footer input[type=submit]:hover {
    background-color: #9DADE0;
}

.group_header {
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", HelveticaNeue-Light, Arial, sans-serif;
    font-size: 18px;
    text-align: left;

    opacity: 0.5;
    margin: 8px;
}

.group {
    text-align: left;

    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px 0px 10px #888888;
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", HelveticaNeue-Light, Arial, sans-serif;
    font-size: 28px;
}

.group_number {
    opacity: 0;
    position: absolute;
    
    /*color: white;
    max-width: 100px;
    display: inline-block;
    margin: 10px;*/
    
    /*border-radius: 50%;
    background-color: #FDF5FF;
    width: 35px;
    height: 350x;*/
}

.group_subtitle {
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", HelveticaNeue-Light, Arial, sans-serif;
    font-size: 14px;
    opacity: 0.5;

    margin: 0px;
    padding: 0px;
    line-height: 14px;

    z-index: 2;
}

.group_buttons {
    margin: -43px 15px 0px 0px;
    float: right;
}

.group_buttons button {
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 15px;
    color: #6f8bdd;

    height: 35px;

    border-radius: 4px;
    background-color: #fdf5ff;
    border: none;
    cursor: pointer;

    min-width: 35px;
    font-variant: small-caps;
}

.group_delete {

}

.group_edit {
    margin-right: 10px;
}

.group_hide {
    margin-right: 10px;
}

.group_content {
    font-family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", HelveticaNeue-Light, Arial, sans-serif;
    font-size: 15px;
    color: #cccccc;
}

button:hover {
    opacity: 0.5;
}

.message {
    display: inline-block;
    padding: 20px;

    width: auto;
    border: none;
    border-radius: 4px;

    background-color: white;
    box-shadow: 2px 5px 10px #888888;
}

.ui-dialog-titlebar-close {
    background-color: rgb(251, 96, 96);
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 15px;
    color: white;

    height: 30px;
    width: 80px;

    border-radius: 5px;
    border: none;
    cursor: pointer;

    font-variant: small-caps;    
    padding: 0px;
}

.editor {
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 15px;
    color: white;

    height: 30px;
    width: 80px;

    border-radius: 5px;
    border: none;
    cursor: pointer;

    font-variant: small-caps;    
    padding: 0px;

    margin-top: 5px;
    margin-left: 3px;
}

#dialog {
    background: white;
    border-radius: 5px;
       
    margin-top: -160px;
    padding: 50px;

    box-shadow: 0px 0px 5px 0px rgba(27, 27, 27, 0.36);
}

#dialog input {
    color: #6f8bdd;

    height: 25px;

    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;

    padding: 5px;
}

